{% extends "basic_app/base.html" %}
{% load bootstrap4 %}

{% block body_block %}
<div class="container">
    <div class="heading">
        <h1>ITEMS LIST</h1>
    </div>
    <div class="md-form active-purple active-purple-2 mb-3 border border-purple">
        <form action="{% url 'basic_app:list' %}" method="get">
            <input class="form-control" type="text" name="q" placeholder="Search For Item" aria-label="Search">
        </form>
    </div>

    <div class="jumbotron">
        <div class="container" style="height: 800px; overflow: auto;">
            <div class="row">
                <div class="col">
                    <ol>
                    {% for item in products %}
                        <h2><li><a href="{{ item.id }}">{{ item.com_name }}</a></li></h2>
                        
                    {% endfor %}
                    </ol>
                </div>

                <div align="right" class="col">
                    <!-- <form action="{% url 'basic_app:list' %}" method="get"> -->
                        <!-- <select class="selectpicker" data-size="8" name="selected_date">
                            {% for date in unique_dates %}
                                <option>{{ date }}</option>
                            {% endfor %}
                        </select> -->
                        <div class="pos">
                            <form action="{% url 'basic_app:list' %}" method="get">
                                <div>
                                    <label for="birthday">Select Date:</label>
                                    <input type="date" id="birthday" name="selected_date">
                                </div>

                                <div class="col">
                                    <p>OR</p>
                                </div>

                                <div>
                                    <label for="myDate">Select Month:</label>
                                    <input name="myDate" class="monthYearPicker" />
                                </div>
                                
                                <div>
                                    <button type="submit" name="download" class="btn btn-info">Download</button>
                                </div>
                                
                            </form>
                        </div>
                        
                    <!-- </form> -->
                </div>

            </div>
        </div>
    </div>
    

</div>

{% endblock %}